@font-face {
    font-family: 'Coconat';
    src: url(./Coconat-Regular.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;
}

:root {
    --system-font: system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --offwhite: #f0f0fc;
    --dark: #353431;
    --bright: #F1DBCE;
    --bright-hover: #e0c1af;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}

h1, h2, h3, h4, p, a, button, label, input, select, option {
    color: var(--dark);
}

h1 {
    font-family: 'Coconat', Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 3rem;
    text-align: center;
    margin: 1.5rem 0;
}

h2, h3 {
    margin: 0.5rem 0 1rem 0;
}

h2, h3, p, a, button, label, input, select, option {
    font-family: var(--system-font);
}

p, a {
    margin: 0.5rem 0;
}

html {
    height: 100%;
}

body {
    background: white;
    padding: 0 20px;
}

button {
    background: var(--bright);
    color: var(--dark);
    font-weight: bold;
    border: 0;
    border-radius: 100px;
    padding: 1rem 2rem;
    cursor: pointer;
}

button:hover {
    background: var(--bright-hover);
    color: var(--dark);
}

#navigation button {
    margin-bottom: 2rem;
}

#popup button {
    width: 100%;
}

#popup button#add_book {
    margin-bottom: 0.5rem;
}

#popup button#cancel_book {
    margin-bottom: 0.5rem;
    background: none;
}

#popup button#cancel_book:hover {
    text-decoration: underline;
}

label, input, select {
    display: block;
}

label {
    margin-bottom: 0.5rem;
}

input, select {
    margin-bottom: 1rem;
    border-radius: 1000px;
    border: 0;
    background: var(--offwhite);
    padding: 0.5rem 1rem;
}

input:last-of-type {
    margin-bottom: 2rem;
}

#container {
    margin: 0 auto;
    max-width: 1440px;
}

#navigation {
    display: flex;
    flex-flow: column nowrap;
    border-bottom: 1px solid var(--dark);
    margin-bottom: 2rem;
}

#popup {
    visibility: hidden;
    background: white;
    padding: 1rem 2rem;
    filter: drop-shadow(0 1rem 3rem rgb(0, 0, 0, 0.3));
    border-radius: 1rem;
    z-index: 0;
    position: absolute;
    top: 25%;
    right: 25%;
    bottom: 25%;
    left: 25%;
    margin: 0 auto;
    width: min-content;
    height: min-content;
}

#content > div {
    margin-bottom: 1rem;
}

#content > div:last-of-type {
    margin-bottom: 2rem;
}

.book {
    background: var(--offwhite);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
}

@media screen and (min-width: 600px) {
    h1 {
        text-align: left;
    }

    #navigation {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    #navigation button {
        margin-bottom: unset;
    }

    #content > div {
        margin-bottom: unset;
    }
    
    #content > div:last-of-type {
        margin-bottom: unset;
    }

    #content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: 1rem;
    }
}