:root {
    --system-font: system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --yellow-dark: #e2a325;
    --yellow-light: #f5be50;
    --teal-dark: #19647e;
    --teal-light: #0dc4ce;
}

* {
    font-family: var(--system-font);
}

body {
    margin: 2rem;
    background: var(--teal-dark);
}

h1, h2 {
    text-align: center;
}

h1, h3 {
    margin-top: 0;
}

div#nav, form, div.block {
    background: var(--teal-light);
}

form, div#content, h2#books-head {
    max-width: 1200px;
    margin: 0 auto;
}

/* nav */

div#nav {
    margin: -2rem -2rem 0 -2rem;
    padding: 2rem;
    border-bottom: 2px solid var(--yellow-light);
}

div#nav button {
    display: block;
    margin: 0 auto;
}

button {
    cursor: pointer;
    background: white;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    width: 100%;
    display: block;
}

button#reset, button.unread, button.read {
    margin-bottom: 1rem;
}

button#nav-btn, button#add-book {
    background: var(--yellow-light);
}

button#nav-btn:hover, button#add-book:hover {
    background: var(--yellow-dark);
}

button:hover {
    background: var(--yellow-light);
}

/* form */

form {
    padding: 1rem 0;
    border-radius: 0 0 1rem 1rem;
}

form > * {
    margin-left: 1rem;
    margin-right: 1rem;
}

form h2 {
    margin-top: 0;
    padding: 0 1rem;
}

form button {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: 600;
}

input, select {
    border: none;
    border-radius: 1rem;
    padding: 0 1rem;
    height: 34.4px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 1rem;
}

input {
    width: calc(100% - 2rem);
}

button#cancel {
    margin-bottom: 0;
}

/* books */

div#content {
    display: block;
}

h2#books-head {
    color: white;
    padding: 2rem 0 1rem 0;
}

div.block {
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem 0;
}

div.block:first-of-type {
    margin-top: 0;
}

div.block:last-of-type {
    margin-bottom: 0;
}

button.read {
    background: var(--yellow-light);
}

button.read:hover {
    background: var(--yellow-dark);
}

button.rm-book {
    margin-left: 0.5rem;
}



@media screen and (min-width: 740px) {
    h1, h2 {
        text-align: left;
    }

    h1 {
        margin: 0;
    }

    div#nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    div#nav button {
        display: inline;
        margin: unset;
    }

    form {
        padding: 1rem 0 0 0;
    }

    button {
        display: inline;
        width: unset;
    }

    button#reset, button.unread, button.read {
        margin-bottom: unset;
    }

    input {
        width: 400px;
    }

    div#content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 1rem;
    }

    div.block {
        margin: unset;
    }
}